*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
}

.box{
    width: 200px;
    height: 200px;
    background-color: #4bcd81;
    position: absolute;
    top : 30%;
}
.circle
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #1f7ad4;

    
}
